body {
    background-image: url("tiledbackground.png");
    cursor: url('mousecursor.png'), auto;
    background-repeat: repeat;
    font-family: 'Comic Mono', monospace;
    position: relative; /* Needed for absolute positioning of child elements */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh; /* Add this line to ensure the body takes up at least the full viewport height */
  }
  
.titles {
    position: absolute;
    top: 2vh; /* Adjusted value based on the desired percentage from the top */
    left: 50%;
    transform: translateX(-50%);
    color:rgb(25, 54, 54);
    text-align: center;
    font-size: 50px;
}
.maintext {
    position: absolute;
    left: 50%;
    top: calc(5vh + 50px + 4vh); /* Adjusted the 2vh value to set the desired percentage distance between titles and maintext */
    transform: translateX(-50%);
    color:rgb(25, 54, 54);
    color:darkslategrey;

    text-align: center;
    font-size: 24px;
}
.bottomtext {
    color: darkslategrey;
    text-align: center;
    font-size: 20px;
    margin-top: auto;
    max-width: 60%;
    margin: 0 auto;
  }
.sidebar {
    width: 10%;
    padding: 20px;
    background-color: #a969f8;
    flex-direction: column; /* Add this line */
}

.sidebar a {
    display: block;
    color: #333;
    padding: 10px;
    text-decoration: none;
    font-size: 20px;
}

.sidebar a:hover {
    background-color: #9241f3;
}

.content {
    flex-grow: 1;
    padding: 20px;
}